

header{
    background-color: rgb(78, 163, 212);
    text-align: center;
    border-radius: 30px;
 
}
header h1{
    font-size: 2em;
}
header li {
    display:inline-block;
    text-decoration: none;
    background-color: rgb(125, 238, 204);
    margin: 20px 60px 0px;
    padding: 10px 20px;
    border-radius: 10px;
}
header a{
    text-decoration: none;
    color: rgb(26, 24, 26);
    font-size: 1,5px;
    
   
}
body{
    background-color: rgb(164, 182, 245);
    font-family: roboto;
    font-size: 200%;
    width: 100%;

}

td, th{
    padding: 3px  60px 5px 20px;

}




#Competences img{
    display: inline-block;
    height: 200px;
    width: 200px;
    margin: 0 30px;
    border-radius: 20px; 
}
#CentresINT section{
    display: inline-block;
    padding: 0 20px;

    

}
#CentresINT section h3 {
    text-align: center;
    text-transform: uppercase;
    

}


#Contact div{
    display: inline-block;
   margin-right: 150px;

}
.lienscontact a{
    display: block;
    margin-left: 20px;

}
.lienscontact{
    vertical-align: top;
}
label{
    display: inline-block;
    width: 100px;
    text-align: right;
    vertical-align: top;
    margin: 5px ;
    font-size: 1em;}
    
    


.formulaire{
   font-size: 1em;
    width: 500px;
   border: 1px solid black;
    margin: 5px;}
 .button{
    padding:5px;
    margin-left: 120px;
    text-align: center;
    border: 1px solid black;
    font-size: 1em;
 }